body {
    background-color: #c3d5d5;
  }

#printdate {
    margin-top: 30px;
    text-align: center;
    font-family: 'Roboto';font-size: 16px;
    color: #19324d;
}

#printjoke {
    margin-top: 30px;
    text-align: center;
    font-family: 'Roboto';font-size: 16px;
    color: #19324d;
}

#buttons {
    margin-top: 30px;
    text-align: center;
    font-family: 'Roboto';font-size: 12px;
}

#title {
    margin-top: 100px;
    text-align: center;
    font-family: 'Roboto';font-size: 46px;
    color: white;
}